.greet-hero {
    .greet-title {
        font-size: 3.0em !important;
        letter-spacing: 0 !important;
    }

    i {
        display: block;
    }
}

.bg {
    &-dark-blue-opacity {
        background-color: rgba(32, 128, 238, 0.9);
    }
    &-transparent-dark-blue-2 {
        background-color: rgba(18, 63, 116, 0.9);
    }
    &-dark-blue {
        background-color: #11356c;
    }
}

.text {
    &-orange {
        color: #ff6600;
    }
    &-keep {
        word-break: keep-all;
    }
}

header .navbar .navbar-brand img {
    max-height: 50px;
}

.blog-list {
    .blog-post {
        .blog-post-image {
            width: 45%;
        }
        .post-details {
            width: 55%;
        }
    }
}

.card {
    border: none;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: .08);
}

#chartdiv {
    width: 100%;
    height: 400px;
}

.badge {
    &-danger {
        background-color: rgb(212, 14, 14);
    }
    &-success {
        background-color: rgb(32, 161, 32);
    }
    &-primary {
        background-color: rgb(44, 123, 241);
    }
    &-info {
        background-color: rgb(23, 162, 184);
    }
}

.widget-kegiatan {
    .btn-link {
        display: flex;
        margin-top: 20px;

        a {
            margin: 0 auto;
        }
    }

    .timeline {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;


        &::before {
            content: '';
            position: absolute;
            top: 0px;
            bottom: 0;
            width: 4px;
            background: #ddd;
            left: 11px;
            margin: 0;
            border-radius: 2px;
        }

        .timeline-item {
            margin-left: 40px;

            .timeline-header {
                line-height: 1.5em;
            }
        }

        li {
            display: flex;
            position: relative;

            > i {
                width: 30px;
                height: 30px;
                font-size: 15px;
                line-height: 30px;
                position: absolute;
                color: #fff;
                border-radius: 50%;
                text-align: center;
                left: -4px;
                top: 4px;
            }

            a:hover {
                color: #ff6600;
            }

            .timestamp {
                font-size: 14px;
                display: block;
                color: #1d1d1d;
                font-weight: 500;
            }
        }

        h3 {
            font-size: 1.2em;
        }
    }
}

.blog-post .blog-post-image img {
    height: 300px;
    object-fit: cover;
}