h1,
h2,
h3,
h4,
h5 {
    font-family: "PT Sans", sans-serif !important;
    font-weight: 700;
}

p {
    font-family: "PT Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1a1e36;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e67820;
}

.content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #ffffff;

    opacity: 0.8;
}

.list-group-item-action:active{
    background-color: #2a3051e8 !important; 
}

.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #2a3051e8 !important; 
}

.list-group-item {
    height: calc(100vh / 2);
    background-color: #2a3051e8;
    border-bottom: 1px rgba(255, 255, 255, 0.276) solid;
}

@media (max-width: 400px) {
    .img-responsive{
        height: 23px;
    }
}

@media (max-width: 667px){
    .img-responsive{
        height: 23px;
    }
}

.list-group-item h4 {
    color: #e67820;
}

.list-group-item p {
    color: #fff;
}

.list-group-item:hover,
.list-group-item.active {
    background-color: #e67820 !important;

    transition: 200ms;
}

.list-group-item:hover h4,
.list-group-item:hover p {
    color: white !important;

    transition: 200ms;
}

.btn {
    font-family: "PT Sans", sans-serif !important;

    margin-top: 16px;
    padding: 24px 48px !important;

    /* Style */

    background-color: #e67820 !important;
    border-radius: 8px;

    border: transparent !important;
}

.btn:hover {
    color: #2a3051 !important;
}

.body-inner {
    background-image: url(../images/custom-bg/3.jpg);
    background-size: cover;
}

.landing {
    background: hsla(231, 32%, 24%, 0);
    background: linear-gradient(90deg, hsla(231, 32%, 24%, 1) 5%, hsla(231, 32%, 24%, 0) 100%);
    opacity: 1;
    padding: 15px 25px 15px 25px;
    overflow: hidden;
}


.logo {
    height: 55px;
}

/* jenis layanan */
.wrap-card{
    padding: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card.layanan{
    height: 150px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card.layanan:hover .isikonten {
    height: 100%;
}

.transition-1{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.transition-1:hover{
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transition: all 0.1s;
    transition: all 0.10s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

.cardbodinya{
    display: flex;
    align-items: center;
}

.cardbodinya a.title {
    font-size: 26px;
    color: #f68820;
    font-weight: 600;
}

.isikonten {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .1s ease-in;
    background-size: cover !important;
    background-position: center bottom !important;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -ms-transition: .1s ease-in;
    -o-transition: .1s ease-in;
}

.overlay-dark-2{
    background: linear-gradient(90deg, hsl(23.88deg 77.17% 50.2%) 5%, hsl(228.75deg 50.79% 24.71%) 100%);
    width: 100%;
    height: 100%;
    position: relative;
}

.text-isi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
    color: white;
    font-size: 12px;
    position: absolute;
    line-height: 16px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-cstm-1{
    background-color: #fff !important;
    width: 85%;
    color: #e67820 !important;
    padding: 6% !important;
}

/* .overflow-responsive{
    overflow-x: hidden;
    height: 60%;
} */


/* modal */
.modal-dialog {
    max-width: 55%;
}

/* responsive */
/* fhd only */
@media screen and (min-width: 1920px) {
    /* .overflow-responsive{
        overflow-x: hidden;
        height: auto;
    } */
}

/* laptop */
@media screen and (min-width: 1367px) {
    .logo {
        height: auto;
    }
}

/* smartphone */
@media (max-width: 667px) {
    .logo {
        height: 26px;
    }

    .list-group-item {
        background-color: #2a3051;
    }

    .modal-dialog {
        max-width: 500px;
    }

    /* .overflow-responsive{
        overflow-x: hidden;
        height: 50%;
    } */
}

/* accessibility userway css */
.uwy.userway_p1 .uai {
    top: 45% !important;
}