Options -Indexes
php_flag engine off

<FilesMatch ".*">
    Require all denied
</FilesMatch>

<FilesMatch "\.(css|js|jpg|jpeg|png|gif|svg|webp|ico|woff|woff2|ttf|eot)$">
    Require all granted
</FilesMatch>
